<?xml version="1.0"?>
<robot>
    <gazebo>
        <plugin filename="libgazebo_ros_control.so" name="ros_control">
            <robotNamespace>/maccepa</robotNamespace>
        </plugin>

        <plugin filename="libmaccepa_plugin.so" name="maccepa_shoulder">
            <joint>shoulder</joint>
            <cardioid_motor_command_topic>/maccepa_plugin/shoulder/cardioid_motor/command</cardioid_motor_command_topic>
            <pretension_motor_command_topic>/maccepa_plugin/shoulder/pretension_motor/command</pretension_motor_command_topic>
            <!-- Maccepa 2.0 parameters BEGIN -->
            <k>3742</k><!-- [N/m] spring constant -->
            <B>0.02</B><!-- [m] length of B segment -->
            <C>0.04</C><!-- [m] length of C segment -->
            <R>0.015</R><!-- [m] radius of circular part of camdisk -->
            <R_pretension>0.01</R_pretension><!-- [m] motor 2 spool radius -->
            <!-- Maccepa 2.0 parameters END -->
            <cardioid_motor_joint>shoulder_motor_joint</cardioid_motor_joint>
        </plugin>

        <plugin filename="libmaccepa_plugin.so" name="maccepa_elbow">
            <joint>elbow</joint>
            <cardioid_motor_command_topic>/maccepa_plugin/elbow/cardioid_motor/command</cardioid_motor_command_topic>
            <pretension_motor_command_topic>/maccepa_plugin/elbow/pretension_motor/command</pretension_motor_command_topic>
            <!-- Maccepa 2.0 parameters BEGIN -->
            <k>3742</k><!-- [N/m] spring constant -->
            <B>0.02</B><!-- [m] length of B segment -->
            <C>0.04</C><!-- [m] length of C segment -->
            <R>0.015</R><!-- [m] radius of circular part of camdisk -->
            <R_pretension>0.01</R_pretension><!-- [m] motor 2 spool radius -->
            <!-- Maccepa 2.0 parameters END -->
            <cardioid_motor_joint>elbow_motor_joint</cardioid_motor_joint>
        </plugin>
    </gazebo>
</robot>